# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# 环境变量
.env
.env.local

# 临时文件
*.tmp
*.log
sources/*.tmp

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# 忽略 filters 目录下的指定文件
filters/ads-blacklist.txt
filters/ads-whitelisted-removed.txt
filters/adult-blacklist.txt
filters/adult-whitelisted-removed.txt
filters/malware-blacklist.txt
filters/malware-whitelisted-removed.txt

# 忽略 sources 整个目录
sources/
